<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>0</integer>
	<key>data</key>
	<dict>
		<key>current_page</key>
		<integer>1</integer>
		<key>data</key>
		<array>
			<dict>
				<key>buy_num</key>
				<integer>4</integer>
				<key>course_id</key>
				<integer>4371</integer>
				<key>discount</key>
				<dict>
					<key>begin_at</key>
					<string></string>
					<key>can_use_discount</key>
					<false/>
					<key>discount</key>
					<string>10</string>
					<key>discount_title</key>
					<string></string>
					<key>end_at</key>
					<string></string>
					<key>now_time</key>
					<string>2018-07-27 16:57:23</string>
				</dict>
				<key>img</key>
				<string>http://xgx.ufile.ucloud.com.cn/1524727207956VAx4PMfDL93mwbU6KnW.jpeg</string>
				<key>is_free_course</key>
				<false/>
				<key>is_vip</key>
				<false/>
				<key>origin_price</key>
				<string>199.00</string>
				<key>purchase_status</key>
				<integer>-1</integer>
				<key>sales_method</key>
				<integer>20</integer>
				<key>selling_price</key>
				<string>199.00</string>
				<key>star</key>
				<integer>0</integer>
				<key>study_num</key>
				<integer>0</integer>
				<key>teacher_info</key>
				<array>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1510569016745QI8VFtTqHiTXro5uOFI.png</string>
						<key>name</key>
						<string>测试</string>
					</dict>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1522724868131weVcUf7EIMoR1Y0iBD3.jpg</string>
						<key>name</key>
						<string>流浪法师Ф杨永信</string>
					</dict>
				</array>
				<key>title</key>
				<string>早梅</string>
				<key>total_period</key>
				<integer>1</integer>
				<key>type</key>
				<integer>20</integer>
				<key>vip_price</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>buy_num</key>
				<integer>0</integer>
				<key>course_id</key>
				<integer>4370</integer>
				<key>discount</key>
				<dict>
					<key>begin_at</key>
					<string></string>
					<key>can_use_discount</key>
					<false/>
					<key>discount</key>
					<string>10</string>
					<key>discount_title</key>
					<string></string>
					<key>end_at</key>
					<string></string>
					<key>now_time</key>
					<string>2018-07-27 16:57:23</string>
				</dict>
				<key>img</key>
				<string>http://xgx.ufile.ucloud.com.cn/1524793440524z53xJvEGSB7kA6IRDIV.jpeg</string>
				<key>is_free_course</key>
				<false/>
				<key>is_vip</key>
				<false/>
				<key>origin_price</key>
				<string>238.00</string>
				<key>purchase_status</key>
				<integer>-1</integer>
				<key>sales_method</key>
				<integer>20</integer>
				<key>selling_price</key>
				<string>238.00</string>
				<key>star</key>
				<integer>0</integer>
				<key>study_num</key>
				<integer>0</integer>
				<key>teacher_info</key>
				<array>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1510569016745QI8VFtTqHiTXro5uOFI.png</string>
						<key>name</key>
						<string>测试</string>
					</dict>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1522724868131weVcUf7EIMoR1Y0iBD3.jpg</string>
						<key>name</key>
						<string>流浪法师Ф杨永信</string>
					</dict>
				</array>
				<key>title</key>
				<string>塞下曲六首·其一</string>
				<key>total_period</key>
				<integer>1</integer>
				<key>type</key>
				<integer>20</integer>
				<key>vip_price</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>buy_num</key>
				<integer>0</integer>
				<key>course_id</key>
				<integer>4369</integer>
				<key>discount</key>
				<dict>
					<key>begin_at</key>
					<string></string>
					<key>can_use_discount</key>
					<false/>
					<key>discount</key>
					<string>10</string>
					<key>discount_title</key>
					<string></string>
					<key>end_at</key>
					<string></string>
					<key>now_time</key>
					<string>2018-07-27 16:57:23</string>
				</dict>
				<key>img</key>
				<string>http://xgx.ufile.ucloud.com.cn/1524717549552yibHwCpyzrMqgCCv5Aa.gif</string>
				<key>is_free_course</key>
				<false/>
				<key>is_vip</key>
				<false/>
				<key>origin_price</key>
				<string>198.00</string>
				<key>purchase_status</key>
				<integer>-1</integer>
				<key>sales_method</key>
				<integer>20</integer>
				<key>selling_price</key>
				<string>198.00</string>
				<key>star</key>
				<integer>0</integer>
				<key>study_num</key>
				<integer>0</integer>
				<key>teacher_info</key>
				<array>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1510569016745QI8VFtTqHiTXro5uOFI.png</string>
						<key>name</key>
						<string>测试</string>
					</dict>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1522724868131weVcUf7EIMoR1Y0iBD3.jpg</string>
						<key>name</key>
						<string>流浪法师Ф杨永信</string>
					</dict>
				</array>
				<key>title</key>
				<string>破阵子·四十年来家国</string>
				<key>total_period</key>
				<integer>1</integer>
				<key>type</key>
				<integer>20</integer>
				<key>vip_price</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>buy_num</key>
				<integer>1</integer>
				<key>course_id</key>
				<integer>4368</integer>
				<key>discount</key>
				<dict>
					<key>begin_at</key>
					<string></string>
					<key>can_use_discount</key>
					<false/>
					<key>discount</key>
					<string>10</string>
					<key>discount_title</key>
					<string></string>
					<key>end_at</key>
					<string></string>
					<key>now_time</key>
					<string>2018-07-27 16:57:23</string>
				</dict>
				<key>img</key>
				<string>http://xgx.ufile.ucloud.com.cn/1524713386020Ezk0IAh19gxTAKMCoIh.jpeg</string>
				<key>is_free_course</key>
				<false/>
				<key>is_vip</key>
				<false/>
				<key>origin_price</key>
				<string>159.00</string>
				<key>purchase_status</key>
				<integer>-1</integer>
				<key>sales_method</key>
				<integer>20</integer>
				<key>selling_price</key>
				<string>159.00</string>
				<key>star</key>
				<integer>0</integer>
				<key>study_num</key>
				<integer>0</integer>
				<key>teacher_info</key>
				<array>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1510569016745QI8VFtTqHiTXro5uOFI.png</string>
						<key>name</key>
						<string>测试</string>
					</dict>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1522724868131weVcUf7EIMoR1Y0iBD3.jpg</string>
						<key>name</key>
						<string>流浪法师Ф杨永信</string>
					</dict>
				</array>
				<key>title</key>
				<string>村夜</string>
				<key>total_period</key>
				<integer>1</integer>
				<key>type</key>
				<integer>20</integer>
				<key>vip_price</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>buy_num</key>
				<integer>2</integer>
				<key>course_id</key>
				<integer>4367</integer>
				<key>discount</key>
				<dict>
					<key>begin_at</key>
					<string></string>
					<key>can_use_discount</key>
					<false/>
					<key>discount</key>
					<string>10</string>
					<key>discount_title</key>
					<string></string>
					<key>end_at</key>
					<string></string>
					<key>now_time</key>
					<string>2018-07-27 16:57:23</string>
				</dict>
				<key>img</key>
				<string>http://xgx.ufile.ucloud.com.cn/1524727199480uhJmXpGzg8qxAd3rYtM.jpeg</string>
				<key>is_free_course</key>
				<false/>
				<key>is_vip</key>
				<false/>
				<key>origin_price</key>
				<string>139.00</string>
				<key>purchase_status</key>
				<integer>-1</integer>
				<key>sales_method</key>
				<integer>20</integer>
				<key>selling_price</key>
				<string>139.00</string>
				<key>star</key>
				<integer>5</integer>
				<key>study_num</key>
				<integer>0</integer>
				<key>teacher_info</key>
				<array>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1510569016745QI8VFtTqHiTXro5uOFI.png</string>
						<key>name</key>
						<string>测试</string>
					</dict>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1522724868131weVcUf7EIMoR1Y0iBD3.jpg</string>
						<key>name</key>
						<string>流浪法师Ф杨永信</string>
					</dict>
				</array>
				<key>title</key>
				<string>和张仆射塞下曲·其三</string>
				<key>total_period</key>
				<integer>1</integer>
				<key>type</key>
				<integer>20</integer>
				<key>vip_price</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>buy_num</key>
				<integer>4</integer>
				<key>course_id</key>
				<integer>4361</integer>
				<key>discount</key>
				<dict>
					<key>begin_at</key>
					<string></string>
					<key>can_use_discount</key>
					<false/>
					<key>discount</key>
					<string>10</string>
					<key>discount_title</key>
					<string></string>
					<key>end_at</key>
					<string></string>
					<key>now_time</key>
					<string>2018-07-27 16:57:23</string>
				</dict>
				<key>img</key>
				<string>http://xgx.ufile.ucloud.com.cn/1524713364415XAaDqXOuEBCUNlTh9NK.jpeg</string>
				<key>is_free_course</key>
				<false/>
				<key>is_vip</key>
				<false/>
				<key>origin_price</key>
				<string>139.00</string>
				<key>purchase_status</key>
				<integer>-1</integer>
				<key>sales_method</key>
				<integer>20</integer>
				<key>selling_price</key>
				<string>139.00</string>
				<key>star</key>
				<integer>0</integer>
				<key>study_num</key>
				<integer>0</integer>
				<key>teacher_info</key>
				<array>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1510569016745QI8VFtTqHiTXro5uOFI.png</string>
						<key>name</key>
						<string>测试</string>
					</dict>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1522724868131weVcUf7EIMoR1Y0iBD3.jpg</string>
						<key>name</key>
						<string>流浪法师Ф杨永信</string>
					</dict>
				</array>
				<key>title</key>
				<string>寄扬州韩绰判官</string>
				<key>total_period</key>
				<integer>1</integer>
				<key>type</key>
				<integer>20</integer>
				<key>vip_price</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>buy_num</key>
				<integer>0</integer>
				<key>course_id</key>
				<integer>4360</integer>
				<key>discount</key>
				<dict>
					<key>begin_at</key>
					<string></string>
					<key>can_use_discount</key>
					<false/>
					<key>discount</key>
					<string>10</string>
					<key>discount_title</key>
					<string></string>
					<key>end_at</key>
					<string></string>
					<key>now_time</key>
					<string>2018-07-27 16:57:23</string>
				</dict>
				<key>img</key>
				<string>http://xgx.ufile.ucloud.com.cn/1524717575661EpmXtSEfXS5h9Jno1N8.jpeg</string>
				<key>is_free_course</key>
				<false/>
				<key>is_vip</key>
				<false/>
				<key>origin_price</key>
				<string>158.00</string>
				<key>purchase_status</key>
				<integer>-1</integer>
				<key>sales_method</key>
				<integer>20</integer>
				<key>selling_price</key>
				<string>158.00</string>
				<key>star</key>
				<integer>0</integer>
				<key>study_num</key>
				<integer>0</integer>
				<key>teacher_info</key>
				<array>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1510569016745QI8VFtTqHiTXro5uOFI.png</string>
						<key>name</key>
						<string>测试</string>
					</dict>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1522724868131weVcUf7EIMoR1Y0iBD3.jpg</string>
						<key>name</key>
						<string>流浪法师Ф杨永信</string>
					</dict>
				</array>
				<key>title</key>
				<string>出塞二首</string>
				<key>total_period</key>
				<integer>1</integer>
				<key>type</key>
				<integer>20</integer>
				<key>vip_price</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>buy_num</key>
				<integer>13</integer>
				<key>course_id</key>
				<integer>4359</integer>
				<key>discount</key>
				<dict>
					<key>begin_at</key>
					<string></string>
					<key>can_use_discount</key>
					<false/>
					<key>discount</key>
					<string>10</string>
					<key>discount_title</key>
					<string></string>
					<key>end_at</key>
					<string></string>
					<key>now_time</key>
					<string>2018-07-27 16:57:23</string>
				</dict>
				<key>img</key>
				<string>http://xgx.ufile.ucloud.com.cn/1524713380092oSgslJ0BfXYKREbVWAm.jpeg</string>
				<key>is_free_course</key>
				<false/>
				<key>is_vip</key>
				<false/>
				<key>origin_price</key>
				<string>98.00</string>
				<key>purchase_status</key>
				<integer>1</integer>
				<key>sales_method</key>
				<integer>20</integer>
				<key>selling_price</key>
				<string>98.00</string>
				<key>star</key>
				<integer>0</integer>
				<key>study_num</key>
				<integer>0</integer>
				<key>teacher_info</key>
				<array>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1510569016745QI8VFtTqHiTXro5uOFI.png</string>
						<key>name</key>
						<string>测试</string>
					</dict>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1522724868131weVcUf7EIMoR1Y0iBD3.jpg</string>
						<key>name</key>
						<string>流浪法师Ф杨永信</string>
					</dict>
				</array>
				<key>title</key>
				<string>清平调·其一</string>
				<key>total_period</key>
				<integer>1</integer>
				<key>type</key>
				<integer>20</integer>
				<key>vip_price</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>buy_num</key>
				<integer>4</integer>
				<key>course_id</key>
				<integer>4358</integer>
				<key>discount</key>
				<dict>
					<key>begin_at</key>
					<string></string>
					<key>can_use_discount</key>
					<false/>
					<key>discount</key>
					<string>10</string>
					<key>discount_title</key>
					<string></string>
					<key>end_at</key>
					<string></string>
					<key>now_time</key>
					<string>2018-07-27 16:57:23</string>
				</dict>
				<key>img</key>
				<string>http://xgx.ufile.ucloud.com.cn/1524713435321nDNI9ryyRad2EfwzBVc.jpeg</string>
				<key>is_free_course</key>
				<false/>
				<key>is_vip</key>
				<false/>
				<key>origin_price</key>
				<string>198.00</string>
				<key>purchase_status</key>
				<integer>-1</integer>
				<key>sales_method</key>
				<integer>20</integer>
				<key>selling_price</key>
				<string>198.00</string>
				<key>star</key>
				<integer>0</integer>
				<key>study_num</key>
				<integer>0</integer>
				<key>teacher_info</key>
				<array>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1510569016745QI8VFtTqHiTXro5uOFI.png</string>
						<key>name</key>
						<string>测试</string>
					</dict>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1522724868131weVcUf7EIMoR1Y0iBD3.jpg</string>
						<key>name</key>
						<string>流浪法师Ф杨永信</string>
					</dict>
				</array>
				<key>title</key>
				<string>李凭箜篌引</string>
				<key>total_period</key>
				<integer>1</integer>
				<key>type</key>
				<integer>20</integer>
				<key>vip_price</key>
				<string>0.00</string>
			</dict>
			<dict>
				<key>buy_num</key>
				<integer>1</integer>
				<key>course_id</key>
				<integer>4357</integer>
				<key>discount</key>
				<dict>
					<key>begin_at</key>
					<string></string>
					<key>can_use_discount</key>
					<false/>
					<key>discount</key>
					<string>10</string>
					<key>discount_title</key>
					<string></string>
					<key>end_at</key>
					<string></string>
					<key>now_time</key>
					<string>2018-07-27 16:57:23</string>
				</dict>
				<key>img</key>
				<string>http://xgx.ufile.ucloud.com.cn/1524727302317sXKQ1FD7E1WMAJ2Q753.jpeg</string>
				<key>is_free_course</key>
				<false/>
				<key>is_vip</key>
				<false/>
				<key>origin_price</key>
				<string>198.00</string>
				<key>purchase_status</key>
				<integer>-1</integer>
				<key>sales_method</key>
				<integer>20</integer>
				<key>selling_price</key>
				<string>198.00</string>
				<key>star</key>
				<integer>0</integer>
				<key>study_num</key>
				<integer>0</integer>
				<key>teacher_info</key>
				<array>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1510569016745QI8VFtTqHiTXro5uOFI.png</string>
						<key>name</key>
						<string>测试</string>
					</dict>
					<dict>
						<key>avatar</key>
						<string>http://xgx.ufile.ucloud.com.cn/1522724868131weVcUf7EIMoR1Y0iBD3.jpg</string>
						<key>name</key>
						<string>流浪法师Ф杨永信</string>
					</dict>
				</array>
				<key>title</key>
				<string>春宵</string>
				<key>total_period</key>
				<integer>1</integer>
				<key>type</key>
				<integer>20</integer>
				<key>vip_price</key>
				<string>0.00</string>
			</dict>
		</array>
		<key>pre_page_num</key>
		<integer>10</integer>
		<key>total</key>
		<integer>462</integer>
		<key>total_page</key>
		<integer>47</integer>
	</dict>
	<key>logined</key>
	<true/>
	<key>msg</key>
	<string>操作成功</string>
</dict>
</plist>
